.container {
	width: 100%;
	max-width: 1000px;
	padding: 100px 2.5%;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
	color: var(--text-color-footer);
	gap: 20px;
	font-weight: 600;
}

.title {
	color: var(--text-color-footer);
}
