@import './styles/sintaxis-global.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
.containerMaxWidth {
	width: 100%;
	max-width: 1500px;
}
.bodyContainer {
	background-color: #000;
	display: flex;
	justify-content: center;
	align-items: center;
}

pre::-webkit-scrollbar {
	width: var(--scroll-size, 10px);
	height: var(--scroll-size, 10px);
}
pre::-webkit-scrollbar-track {
	background-color: var(--scroll-track, transparent);
	border-radius: var(--scroll-track-radius, var(--scroll-radius));
}
pre::-webkit-scrollbar-thumb {
	background-color: var(--scroll-thumb-color, grey);
	background-image: var(--scroll-thumb, none);
	border-radius: var(--scroll-thumb-radius, var(--scroll-radius));
}

:root {
	--scroll-size: 10px;
	--scroll-radius: 20px;
	--scroll-track: rgb(255 255 255 / 10%);
	--scroll-thumb: linear-gradient(45deg, #00aeff, #a68eff);
}
